.theme-menu {
  height: 48px;
  padding: 4px;
  border-radius: 24px;
  background-color: var(--c-themeMenuBg);
  display: flex;
  width: min-content;
  position: relative;
  left: 86px;

  &.theme--light {
    --c-themeMenuBg: rgba(0, 0, 0, .12);
    --c-themeMenuHover: rgba(0, 0, 0, .12);
    --c-themeMenuSelected: #000;
    --c-themeMenuSelectedText: #fff;
  }
  &.theme--dusk {
    --c-themeMenuBg: rgba(0, 0, 0, .12);
    --c-themeMenuHover: rgba(0, 0, 0, .12);
    --c-themeMenuSelected: #000;
    --c-themeMenuSelectedText: #fff;
  }
  &.theme--dark {
    --c-themeMenuBg: rgba(255, 255, 255, .12);
    --c-themeMenuHover: rgba(255, 255, 255, .25);
    --c-themeMenuSelected: #fff;
    --c-themeMenuSelectedText: #000;
  }

  &__item {
    & + & {
      margin-left: 4px;
    }

    &:hover {
      background: var(--c-themeMenuHover);
    }

    &--selected {
      background: var(--c-themeMenuSelected);
      color: var(--c-themeMenuSelectedText);

      &:hover {
        background: var(--c-themeMenuSelected);
        color: var(--c-themeMenuSelectedText);
      }
    }
  }
}
