.project {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 768px;
  color: #fff;

  &:nth-child(1) { background: #003f9d; }
  &:nth-child(2) { background: #ed1d44; }
  &:nth-child(3) { background: #00bc67; }
  &:nth-child(4) { background: #2d4dec; }
  &:nth-child(5) { background: #6c15af; }
}

.project-content {
  &__title {
    font-family: var(--f-headers);
    font-size: 4rem;
    line-height: .9;
    margin-bottom: 2rem;
    display: table-caption;
  }

  &__img {
    border: 2px solid #fff;
    margin-bottom: 2rem;
    position: relative;

    &::before {
      position: absolute;
      content: '';
      background: #fff;
      width: 8px;
      height: 100%;
      right: -8px;
      top: 8px;
      transition: all .25s ease-out;
    }

    &::after {
      position: absolute;
      content: '';
      background: #fff;
      width: 100%;
      height: 8px;
      left: 8px;
      bottom: -8px;
      transition: all .25s ease-out;
    }

    &--clickable {
      cursor: pointer;

      &:hover {

        &::before {
          width: 12px;
          right: -12px;
          top: 12px;
        }

        &::after {
          height: 12px;
          left: 12px;
          bottom: -12px;
        }
      }
    }
  }

  &__summary {
    a {
      border-bottom: 1px dashed #fff;

      &:hover {
        font-family: var(--f-headers);
      }
    }
  }

  &__tech-stack {
    text-transform: uppercase;

    span {
      font-family: var(--f-headers);
    }
  }
}

@media screen and (min-width: 720px) {
  .project-content {
    width: 40%;
    position: relative;

    &__img {
      position: absolute;
      top: 50%;
      transform: translateY(-50%);
      width: 130%;

      &--right {
        right: 120%;
      }

      &--left {
        left: 120%;
      }
    }

    &--right {
      margin-left: 60%;
    }

    &--left {
      margin-right: 60%;
    }
  }
}
