@import '../../assets/styles/tools/variables';
@import '../../assets/styles/tools/functions';
@import '../../assets/styles/tools/mixins';

.Menu {
    @include center-flex();
    position: fixed;
    top: 0;
    left: -110%;
    width: 100%;
    height: 100vh;
    background: #000;
    color: #fff;
    z-index: z(Menu);
    transition: all ease-out .4s;
}

.menu-close {
    position: absolute;
    left: 32px;
    top: 32px;
    font-size: 28px;
    cursor: pointer;
    &::after {
        @include pseudo(0, 8px, rgba(#fff, .5));
        @include center-absolute(true, true);
    }
    &:hover {
        &::after {
            width: 200%;
        }
    }
}

.menu-items {
    text-align: center;
    &__item {
        position: relative;
        text-transform: uppercase;
        font-family: $f-headers;
        letter-spacing: .4em;
        font-size: 28px;
        margin-bottom: 1em;
        cursor: pointer;
        &::after {
            @include pseudo(0, 8px, rgba(#fff, .5));
            @include center-absolute(true, true);
        }
        &:hover {
            &::after {
                width: 100%;
            }
        }
    }
}