@import '../../assets/styles/tools/variables';
@import '../../assets/styles/tools/functions';
@import '../../assets/styles/tools/mixins';

.Hero {
    display: flex;
    min-height: 100vh;
    padding: 4rem 0 2rem 0;
}

.hero-text {
    &__scroll {
        font-size: 3rem;
    }
}

.hero-img {
    display: none;
}

@keyframes a-scroll-moves {
    from {
        bottom: 16px;
    }
    50% {
        bottom: 0;
    }
    to {
        bottom: 16px;
    }
}

@keyframes a-badge-spin {
    from {
        transform: rotate(0deg);
    }
    to {
        transform: rotate(360deg);
    }
}

// @notes
// [1] 48px is the approximate width of the scroll (arrow) icon
@media screen and (min-width: "720px") {
    .Hero {
        max-height: 960px;
    }
    .hero-text {
        position: relative;
        padding-top: 2rem;
        width: 80%;
        max-width: 720px;
        &__scroll {
            position: absolute;
            bottom: 0;
            left: -48-24px; // [1]
            animation: a-scroll-moves 1.2s ease 0s infinite forwards;
        }
    }
    .hero-img {
        display: block;
        position: absolute;
        right: 0;
        top: -2.5%;
        width: 40%;
        max-width: 360px;
        z-index: -1;
        &__badge {
            position: absolute;
            right: -10%;
            bottom: -32px;
            font-size: 64px;
            animation: a-badge-spin 16s linear 0s infinite forwards;
        }
    }
}

@media screen and (min-width: "960px") {
    .hero-text {
        &__scroll {
            left: -48-48px;
        }
    }
    .hero-img {
        &__badge {
            font-size: 128px;
            bottom: -56px;
        }
    }
}