.transition {
  position: relative;
  height: 0;
  overflow: hidden;

  &__wrap {
    position: absolute;

    &--slide-in-y {
      top: -100%;
      left: 0;

      &.in {
        transform: translateY(100%);
      }
    }
  }
}
