/* Colors */
/* Gradients */
/* Font stacks */
.Header {
  position: fixed;
  z-index: 1;
  top: 32px;
  left: 0;
  width: 100%; }

.icon-menu {
  width: 32px; }
  .icon-menu span {
    display: block;
    height: 5px;
    background: #000;
    width: 100%;
    margin-bottom: 8px;
    transition: all ease-out .25s; }
    .icon-menu span:nth-child(3) {
      margin-bottom: 0;
      width: 70%; }
  .icon-menu:hover span:nth-child(2) {
    width: 70%; }
  .icon-menu:hover span:nth-child(3) {
    width: 100%; }
