/* Colors */
/* Gradients */
/* Font stacks */
.Skills {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 640px;
  padding-bottom: 64px; }

.skills-header {
  padding: 1rem 0;
  border-top: 8px solid #000; }

.skills-container {
  display: grid;
  grid-gap: 1rem; }

@media screen and (min-width: 500px) {
  .skills-container {
    grid-template-columns: repeat(2, 50%); } }

@media screen and (min-width: 720px) {
  .Skills {
    padding-bottom: 0; }
    .Skills .wrap {
      top: -64px; }
  .skills-header {
    position: absolute;
    left: -20%;
    top: 50%;
    transform: rotate(-90deg) translateY(-50%);
    padding: 0;
    border-top: 0 solid #000; } }

@media screen and (min-width: 750px) {
  .skills-container {
    grid-template-columns: repeat(3, 33.3333%);
    grid-gap: 2rem; } }

@media screen and (min-width: 1000px) {
  .skills-container {
    grid-template-columns: 20% 20% 20% 40%; } }
