@import '../../assets/styles/tools/variables';
@import '../../assets/styles/tools/functions';
@import '../../assets/styles/tools/mixins';

.Skills {
    @include center-flex();
    min-height: 640px;
    padding-bottom: 64px;
}

.skills-header {
    padding: 1rem 0;
    border-top: 8px solid #000;
}

.skills-container {
    display: grid;
    grid-gap: 1rem;
}

@media screen and (min-width:"500px") {
    .skills-container { 
        grid-template-columns: repeat(2, 50%); 
    }
}
// @notes
// [1] For the sake of some alignment
// [2] For the sake of centering
@media screen and (min-width:"720px") {
    .Skills {
        padding-bottom: 0;
        .wrap {
            top: -64px;
        }
    }
    .skills-header {
        position: absolute;
        left: -22%; // [1]
        top: 44%; // [2]
        transform: rotate(-90deg);
        padding: 0;
        border-top: 0 solid #000;
    }
}
@media screen and (min-width:"750px") {
    .skills-container { 
        grid-template-columns: repeat(3, 33.3333%); 
        grid-gap: 2rem;
    }
}
@media screen and (min-width:"1000px") {
    .skills-container { 
        grid-template-columns: 20% 20% 20% 40%; 
    }
}