@import '../../assets/styles/tools/variables';
@import '../../assets/styles/tools/functions';
@import '../../assets/styles/tools/mixins';

.Cta {
    @include center-flex();
    min-height: 720px;
    a {
        text-decoration: underline;
        &:hover {
            font-family: $f-headers;
        }
    }
}