.Contact {
    display: flex;
    justify-content: center;
    align-items: center;
    background: #000;
    color: #fff;
    min-height: 480px;
    .col-2:first-child {
        margin-bottom: 1rem;
    }
}