@import '../../../assets/styles/tools/variables';
@import '../../../assets/styles/tools/functions';
@import '../../../assets/styles/tools/mixins';

.Contact {
    @include center-flex();
    background: #000;
    color: #fff;
    min-height: 480px;
    .col-2:first-child {
        margin-bottom: 1rem;
    }
}