.Footer {
    text-align: center;
    background: #eee;
    padding: 32px;
    p {
        margin-bottom: 0;
    }
    a {
        &:hover {
            text-decoration: underline;
        }
    }
}

