.header {
  padding: 2rem;
  display: flex;
  justify-content: space-between;
  align-items: center;

  &__title {
    text-transform: lowercase;
    font-weight: 800;
    font-size: 2rem;
    position: relative;
    top: -.1em;
  }

  @media (min-width: 450px) {
    display: none;
  }
}
