.latest-post {
  background: #000;
  color: #fff;

  position: relative;
  border-radius: var(--borderRadius);
  overflow: hidden;
  height: 330px;

  &__subtitle {
    @mixin subtitle;
    background: blue;
  }

  &__title {
    background: red;
  }
}
