[class^="icon-"], [class*=" icon-"] {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: 'icomoon' !important;
  speak: none;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;

  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-back:before {
  content: "\e900";
}
.icon-badge:before {
  content: "\e901";
}
.icon-close {
  position: absolute;
  top: 32px;
  font-size: 28px;
  &::before {
    content: "\e902";
  }
  &::after {
      position: absolute;
      content: '';
      background: rgba(#fff, .5);
      width: 0;
      height: 8px;
      top: 50%;
      left: 50%;
      transform: translate(-50%,-50%);
      align-items: center;
  }
  &:hover {
      &::after {
          width: 200%;
      }
  }
}
.icon-play:before {
  content: "\e903";
}
.icon-scroll:before {
  content: "\e904";
}