[class^="icon-"], [class*=" icon-"] {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: 'icomoon' !important;
  speak: none;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;

  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-back:before {
  content: "\e900";
}
.icon-badge:before {
  content: "\e901";
}
.icon-close {
  position: absolute;
  top: 32px;
  font-size: 28px;
  &::before {
    content: "\e902";
  }
  &::after {
      @include pseudo(0, 8px, rgba(#fff, .5));
      @include center-absolute(true, true);
  }
  &:hover {
      &::after {
          width: 200%;
      }
  }
}
.icon-play:before {
  content: "\e903";
}
.icon-scroll:before {
  content: "\e904";
}