@font-face {
    font-family: 'hk_groteskbold';
    src: url('./assets/fonts/hk_grotesk/hkgrotesk-bold-webfont.woff2') format('woff2'),
         url('./assets/fonts/hk_grotesk/hkgrotesk-bold-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: 'hk_groteskregular';
    src: url('./assets/fonts/hk_grotesk/hkgrotesk-regular-webfont.woff2') format('woff2'),
         url('./assets/fonts/hk_grotesk/hkgrotesk-regular-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

@font-face {
  font-family: 'icomoon';
  src:  url('./assets/fonts/icomoon/icomoon.eot?3usoy5');
  src:  url('./assets/fonts/icomoon/icomoon.eot?3usoy5#iefix') format('embedded-opentype'),
    url('./assets/fonts/icomoon/icomoon.ttf?3usoy5') format('truetype'),
    url('./assets/fonts/icomoon/icomoon.woff?3usoy5') format('woff');
  font-weight: normal;
  font-style: normal;
}

/* Tools */
@import './assets/styles/tools/variables';
@import './assets/styles/tools/functions';

/* Base */
@import './assets/styles/base/typography';
@import './assets/styles/base/resetter';

/* Utilities */
@import './assets/styles/utils/layout';
@import './assets/styles/utils/forms';

/* Atoms */
@import './assets/styles/atoms/icons';
