.icon-button {
  width: 40px;
  height: 40px;
  border-radius: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  transition: var(--standardTransition);
  cursor: pointer;

  &.theme--light {
    --c-hover: rgba(0, 0, 0, .12);
  }

  img {
    width: 18px;
  }

  &--text {
    &:hover {
      background: var(--c-hover);
    }
  }
}
