/* Colors */
/* Gradients */
/* Font stacks */
.Cta {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 720px; }
  .Cta a {
    text-decoration: underline; }
    .Cta a:hover {
      font-family: "hk_groteskbold", sans-serif; }
