@font-face {
  font-family: "Manrope";
  src: url("../../content/assets/fonts/manrope/manrope-extrabold.woff2") format("woff2"),
    url("../../content/assets/fonts/manrope/manrope-extrabold.woff") format("woff");
  font-style: normal;
  font-weight: 800;
}

@font-face {
  font-family: "Manrope";
  src: url("../../content/assets/fonts/manrope/manrope-bold.woff2") format("woff2"),
    url("../../content/assets/fonts/manrope/manrope-bold.woff") format("woff");
  font-style: normal;
  font-weight: 700;
}

@font-face {
  font-family: "Manrope";
  src: url("../../content/assets/fonts/manrope/manrope-regular.woff2") format("woff2"),
    url("../../content/assets/fonts/manrope/manrope-regular.woff") format("woff");
  font-style: normal;
  font-weight: 400;
}

@font-face {
  font-family: 'icomoon';
  src:  url('../../content/assets/fonts/icomoon/icomoon.eot?3usoy5');
  src:  url('../../content/assets/fonts/icomoon/icomoon.eot?3usoy5#iefix') format('embedded-opentype'),
  url('../../content/assets/fonts/icomoon/icomoon.ttf?3usoy5') format('truetype'),
  url('../../content/assets/fonts/icomoon/icomoon.woff?3usoy5') format('woff');
  font-weight: normal;
  font-style: normal;
}

p {
  margin-bottom: 1em;
  line-height: 1.4;

  &:last-child {
    margin-bottom: 0;
  }
}

strong {
  font-family: var(--f-headers);
  font-weight: bold;
}

.section-title {
  text-transform: uppercase;
  font-family: var(--f-headers);
  font-weight: bold;
  letter-spacing: .4em;
  font-size: 32px;
  margin-bottom: 1em;
}

.mini-header {
  font-family: var(--f-headers);
  font-weight: bold;
}

.biggie {
  font-size: 1.5rem;
}

@media screen and (min-width: 720px) {
  .biggie {
    font-size: 1.8rem;
  }
}
