:root {
  /* Font stacks */
  --f-headers: 'hk_grotesk', sans-serif;
  --f-body: 'hk_grotesk', sans-serif;
  --f-baseSize: 20px;

  /* Z indexes*/
  --z-header: 1;
  --z-modal: 2;
  --z-menu: 3;

  --standardTransition: all 200ms ease-in-out;
}

.theme--light {
  --c-bg: #fff;
  --c-text: #000;
  --c-selection: rgba(0, 0, 0, .5);
}

.theme--dusk {
  --c-bg: #ffeeaa;
  --c-text: #000;
  --c-selection: rgba(0, 0, 0, .5);
}

.theme--dark {
  --c-bg: #1a1a1a;
  --c-text: #fff;
  --c-selection: rgba(255, 255, 255, .5);
}
